<!-- <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">S.No</th>
      <th scope="col">Description</th>
      <th scope="col">Income</th>
      <th scope="col">Expenditure</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of records; let i = index;">
      <td>{{ i + 1 }}</td>
      <td>{{ record.desc }}</td>
      <td>{{ record.amount | currency:'INR'}}</td>
      <td>{{record.exAmount | currency:'INR'}}</td>
    </tr>
    <tr>
      <td></td>
      <td><b>Totals</b></td>
      <td><strong>{{totalIncome | currency:'INR'}}</strong></td>
      <td><strong>{{ totalExpense | currency:'INR'}}</strong></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td><b>Balance</b></td>
      <td rowspan="2"></td>
      <td><strong>{{totalIncome - totalExpense  | currency:'INR'}}</strong></td>
    </tr> 
  </tbody>
</table>  -->

<p-table [value]="records" class="table">
  <ng-template pTemplate="header">
    <tr>
      <th scope="col">S.No</th>
      <th scope="col">Description</th>
      <th scope="col">Income</th>
      <th scope="col">Expenditure</th>
      <th scope="col">Date</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-record  let-i="rowIndex+1">
    <tr>
      <td>{{i}}</td>
      <td>{{record.desc}}</td>
      <td>{{record.amount | currency:'INR'}}</td>
      <td>{{record.exAmount | currency:'INR'}}</td>
      <td>{{record.date}}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="footer">
    <tr> 
      <td></td>
      <td><b>Total and Balance</b></td>
      <td>{{totalIncome | currency:'INR'}}</td>
      <td>{{totalExpense | currency:'INR'}}</td>
      <td><strong>{{totalIncome - totalExpense  | currency:'INR'}}</strong></td>
    </tr>
  </ng-template>
</p-table>

<div class="alert alert-primary savings container" >
   <h6 class="text-success"> Total Savings: {{totalIncome  | currency:'INR'}} - {{totalExpense | currency:'INR'}} = {{ totalIncome - totalExpense | currency:'INR'}}</h6>
   <h6 class="alert alert-danger" *ngIf="draft" >Running out of Balance</h6>
   <!-- <h6 class="alert alert-success" *ngIf="yippee">You doing a Great Job!!!</h6> -->
</div> 