.table .header th {
    border-bottom: 2px solid #2a2f3c;
    border-top: 2px solid #2a2f3c;
}
.table{
    color: #fff;
}
#filterInput{
    color: #fff;
    border: none;
    padding: 8px;
    background-color: #323232;
    border-bottom: 1px solid #14ffec;
    width: 30% !important;
}
#filterInput:focus{
    outline: none;
    border-bottom: 2px solid #14ffec;
    transition: all 0.5s;
    width: 35% !important;
}
::placeholder {
    color: #fff;
    font-size: 13px;
  }
::ng-deep body .ui-table .ui-table-thead > tr > th{
    background: transparent;
    color: #fff;
    border:none ;
    border-bottom: solid 1px #14ffec;
}
::ng-deep body .ui-table .ui-table-tfoot > tr > td,
::ng-deep body .ui-table .ui-table-tbody > tr > td{
    color:#fff;
    background: #333;
    font-weight: 100;
    border: none;
    border-bottom: solid 1px #14ffec;
}
/* Alert */
.alert-primary{
    background: transparent;
    border: none;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    margin-top: 15%;
    border:2px solid #14ffec;
    font-size: 13px;
}
.text-success{
    color: #fff !important;
}

::ng-deep body .ui-table .ui-table-caption{
 padding: 0;
}

::ng-deep .ui-table-wrapper{
    margin-top: 3%;
}