<!--Beware of little expenses. A small leak will sink a grate ship-->

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">S.No</th>
      <th scope="col">Description</th>
      <th scope="col">Income</th>
      <th scope="col">Expenditure</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of records; let i = index;">
      <td>{{ i + 1 }}</td>
      <td>{{ record.desc }}</td>
      <td>{{ record.amount | currency:'INR'}}</td>
      <td>{{record.exAmount | currency:'INR'}}</td>
    </tr>
    <tr>
      <td></td>
      <td><b>Totals</b></td>
      <td><strong>{{totalIncome | currency:'INR'}}</strong></td>
      <td><strong>{{ totalExpense | currency:'INR'}}</strong></td>
    </tr>
    <tr>
      <td></td>
      <td><b>Balance</b></td>
      <td rowspan="2"></td>
      <td><strong>{{totalIncome - totalExpense  | currency:'INR'}}</strong></td>
    </tr> 
  </tbody>
</table>   
<div class="alert alert-primary savings container" >
   <h6 class="text-success"> Total Savings: {{totalIncome  | currency:'INR'}} - {{totalExpense | currency:'INR'}} = {{ totalIncome - totalExpense | currency:'INR'}}</h6>
   <h6 class="alert alert-danger" *ngIf="draft" >Running out of Balance</h6>
   <h6 class="alert alert-success" *ngIf="yippee">You doing a Great Job!!!</h6>
</div> 