main{
  display: flex;
  align-content: center;
  justify-content: center;
  
}
#loginForm{
  width: 50%;
  padding: 20px;
  margin-top: 10%;
}
#username, #password{
  padding: 10px;
  border: none;
  background-color: #323232;
  width: 100%;
  border-bottom: solid 1px grey;
  color: #fff;
}
#username:focus, #password:focus{
  outline: none;
  border-bottom: solid 1px #14ffec;
  transition: linear 0.2s;
}
::placeholder {
  color: #fff;
  font-size: 14px;
}
.wrapper{
  position: relative; 
}
.feild-icon {
  color:#fff;
  position: absolute;
  right: 3%;
  /* border-top: 50%; */
  top: 30%;
  text-shadow: 1px 1px 13px #fff;
} 
#loginBtn{
  border: #14ffec solid 1px;
  background-color: #323232;
  color: #fff;
  width: 100%;
  margin-top: 15px;
  border-radius: 0px;
  padding: 7px;
  transition: 0.2s;
}
#loginBtn:hover{
  background-color: #14ffec;
  cursor: pointer;
} 
#loginBtn:disabled{
  cursor: not-allowed;
  border: #14ffec solid 1px;
  background-color: #323232;
  color: grey;
}
@media (min-width: 320px) and (max-width: 768px){
  #loginForm{
    width: 100%;
  }
  #loginBtn{
    width: 100%;
  }
}