<main>
  <form id="loginForm" [formGroup]="myForm"> 
    <div class="wrapper">
      <i class="fa fa-user feild-icon"></i>
      <input     
        type="text" 
        placeholder="Enter Username" 
        id="username"
        name="username" 
        autocomplete="off" 
        formControlName='username' 
        />
        <small *ngIf="username.touched && username.invalid">
          <small class="errorMsg" *ngIf="username.errors.required">First Name is Required</small>
          <small class="errorMsg" *ngIf="username.errors.minlength">Should be atleast 3 characters</small>
        </small>
    </div>
    <br/>
    <div class="wrapper">
      <i class="fa fa-lock feild-icon"></i>
      <input 
        type="password" 
        placeholder="Enter Password" 
        id="password"
        name="password"
        formControlName="password"/><br/>
        <small *ngIf="password.touched && password.invalid">
          <small class="errorMsg"*ngIf="password.errors.required">Last Name is Required</small>
          <small class="errorMsg" *ngIf="password.errors.minlength">Should be atleast 8 characters</small>
        </small>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-3 col-lg-3"></div>
      <div class="col-sm-12 col-md-3 col-lg-3"></div>
      <div class="col-sm-12 col-md-3 col-lg-3"></div>
      <div class="col-sm-12 col-md-3 col-lg-3">
        <button id="loginBtn" type="submit" [disabled]= "myForm.invalid" routerLink='/addincome' (click)="myForm.reset()">Login</button>
      </div>
    </div>
  </form>
</main>
