button:disabled {
    cursor: not-allowed;
}
.income-btn, .expense-btn, .save-btn, #loginBtn, .cancel-btn, button:disabled:hover, .modal-body, .modal-content, .modal-header, .form-control, ::ng-deep .bs-datepicker-body table th, ::ng-deep .bs-datepicker-body table td{
    color: #fff;
}
.income-btn, .expense-btn, .save-btn, #loginBtn, .cancel-btn, .modal-header, .form-control{
    border-radius: 0;
}
.income-btn, .expense-btn, .save-btn, #loginBtn{
    background-color: #0d7377;
    transition: 0.5s;
}
.cancel-btn{
    border: #0d7377 solid 1px;
    background-color: #323232;
}
.cancel-btn:hover{
    background-color: #0d7377;
}
.modal-body, .close-btn{
    background-color: #323232;
}
.close-btn{
    color: #fff;
}
.close-btn:focus{
    box-shadow: none;
}
.modal-header{
    border-bottom: 1px solid #14ffec;
    background-color: #323232;
} 
.form-control{
    background-color: #323232;
    border: none;
    border-bottom: solid 1px #fff;
}
.form-control:focus{
    box-shadow: none;
    border-color: #14ffec;
}
/* Date Picker */

::ng-deep .theme-green .bs-datepicker-head, ::ng-deep .theme-green .bs-datepicker-body table td span.selected{
    background-color: #0d7377;
}
::ng-deep .theme-green .bs-datepicker-body{
    border: none;
}
::ng-deep .bs-datepicker-container {
    background-color: #323232;
}
::ng-deep .bs-datepicker-body table td:hover, ::ng-deep .bs-datepicker-body table td span.is-other-month{
    color: #0d7377;
}
 ::ng-deep .theme-green .bs-datepicker-body table td.week span{
    color: #14ffec;
}