<div class="row">
  <div class="col-sm-12 col-md-2 col-lg-2">
    <filters></filters>
  </div>
  <div class="col-sm-12 col-md-10 col-lg-10">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <button 
          type="button"  
          class="btn income-btn mr-3" 
          (click)="staticModal.show()"  
          style="width: 100%;"
          >Add Income</button>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <button 
          type="button" 
          class="btn expense-btn" 
          (click)="staticModal2.show()" 
          style="width: 100%;"
          >Add Expenditure</button>
      </div>
    </div>
      <br/>
      <!-- Income Modal -->
      <div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
          tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
        <div class="modal-dialog"><!--Income Modal Dailog-->
          <div class="modal-content"><!--Income Modal Content-->
            <div class="modal-header"><!--Income Modal Header-->
              <h4 id="dialog-static-name" class="modal-title pull-left">Add your Income details</h4>
              <button type="button" class="btn close-btn pull-right" aria-label="Close" (click)="staticModal.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div><!--Income Modal Header-->
            <div class="modal-body"> <!--Income Modal Body-->
              <form [formGroup]="incomeForm"> <!--Income Form-->
                <div class="form-group"><!--Income User-->
                  <p-dropdown 
                    required
                    [options]="users"
                    [(ngModel)]="selectedUser"
                    #incomeUser
                    formControlName="validateIncomeUser"></p-dropdown>
                  <!-- <small *ngIf="validateIncomeUser.touched && validateIncomeUser.invalid">
                    <small class="errorMsg" *ngIf="validateIncomeUser.errors.required">Description is Required</small>
                  </small>   -->
                </div>
                <div class="form-group"><!--Income Description-->
                  <label for="description" class="form-label"> 
                    <h6>Add the description here</h6>
                  </label> 
                  <textarea 
                    class="form-control incomeTextarea" 
                    rows="5" 
                    style="resize: none;"
                    #desc
                    formControlName="incomeDescription"
                    required></textarea>
                    <small *ngIf="incomeDescription.touched && incomeDescription.invalid">
                      <small class="errorMsg" *ngIf="incomeDescription.errors.required">Description is Required</small>
                    </small>
                </div>
                <div class="form-group"><!--Income Amount-->
                  <label for="income">
                    <h6>Add Income Amount in rupees</h6>
                  </label>
                  <input 
                    class="form-control" 
                    type="number" 
                    name="income"
                    #amount
                    formControlName="incomeAmount"
                    required>
                    <small *ngIf="incomeAmount.touched && incomeAmount.invalid">
                      <small class="errorMsg" *ngIf="incomeAmount.errors.required">Enter Income Amount</small>
                    </small>
                </div>
                <div class="form-group"><!--Income Date-->
                  <label for="inDate" class="form-label">
                    <h6>Select Date</h6>
                  </label>
                    <p-calendar 
                      autocomplete="off"
                      class="form-control" 
                      name="inDate"
                      #incomeDate
                      formControlName="validateIncomeDate" 
                      required
                      [style]="{'width':'100%'}" 
                      [inputStyle]="{'width':'100%'}"
                      ></p-calendar>
                    <small *ngIf="validateIncomeDate.touched && validateIncomeDate.invalid">
                      <small class="errorMsg" *ngIf="validateIncomeDate.errors.required">Please select the date</small>
                    </small> 
                </div>                
                <!--Income Send and Cancel Buttons -->
                <div class="row">
                  <div class="col-sm-6"></div>
                  <div class="col-sm-6">
                    <div class="row">
                      <div class="col-sm-6"><!--Send Income-->
                        <button 
                          type="submit" 
                          class="btn save-btn" 
                          style="width: 100%;" 
                          (click)="sendIncome(desc, amount, incomeDate, incomeUser); staticModal.hide(); incomeForm.reset()"  
                          [disabled]= "incomeForm.invalid" 
                          >Save</button>
                      </div>
                      <div class="col-sm-6">
                        <button 
                          type="submit" 
                          class="btn cancel-btn" 
                          style="width: 100%;"  
                          (click)="staticModal.hide()">Cancel</button>
                      </div>
                    </div>          
                  </div>
                </div>              
              </form><!--Income Form-->
            </div><!--Income Modal Body-->
          </div><!--Income Modal Content-->
        </div><!--Income Modal Dailog--> 
      </div>
      <!-- Expense Modal -->
      <div class="modal fade" bsModal #staticModal2="bs-modal" [config]="{backdrop: 'static'}"
          tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
        <div class="modal-dialog"><!--Expense Modal Dailog-->
          <div class="modal-content"><!--Expense Modal Content-->
            <div class="modal-header"><!--Expense Modal Header-->
              <h4 id="dialog-static-name" class="modal-title pull-left">Add your Expenditure details</h4>
              <button type="button" class="btn close-btn pull-right" aria-label="Close" (click)="staticModal2.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div><!--Expense Modal Header-->
            <div class="modal-body"><!--Expense Modal Body-->
              <form [formGroup]="expenseForm"> <!--Expense Form-->
                <div class="form-group"><!--Expense Users-->
                  <p-dropdown #dd
                    [options]="users"
                    [(ngModel)]="selectedUser"
                    #expenseUser 
                    [ngModelOptions]="{standalone: true}"> 
                  </p-dropdown>
                </div>
                <div class="form-group"><!--Expense Description-->
                  <label for="description" class="form-label">
                    <h6>Add the description here</h6>
                  </label>
                  <textarea 
                    name="description" 
                    class="form-control" 
                    rows="5" 
                    style="resize: none;"
                    #desc2
                    formControlName="expenseDescription"
                    required></textarea>
                    <small *ngIf="expenseDescription.touched && expenseDescription.invalid">
                      <small class="errorMsg" *ngIf="expenseDescription.errors.required">Description is Required</small>
                    </small>
                </div>
                <div class="form-group"><!--Expenditure Amount-->
                  <label for="Expenditure">
                    <h6>Add Expenditure Amount in rupees</h6>
                  </label>
                  <input 
                    class="form-control" 
                    type="number" 
                    name="expenditure"
                    #expense 
                    formControlName="expenseAmount"
                    required>
                    <small *ngIf="expenseAmount.touched && expenseAmount.invalid">
                      <small class="errorMsg" *ngIf="expenseAmount.errors.required">Enter Expense Amount</small>
                    </small>
                </div>
                <!--Expenditure Date-->
                <div class="form-group"><!--Expense Date-->
                  <label for="inDate" class="form-label">
                    <h6>Select Date</h6>
                  </label>
                    <p-calendar 
                      autocomplete="off"
                      class="form-control" 
                      name="exDate"
                      #expenseDate
                      formControlName="validateExpenseDate"
                      required
                      [style]="{'width':'100%'}" 
                      [inputStyle]="{'width':'100%'}"
                      ></p-calendar>
                    <small *ngIf="validateExpenseDate.touched && validateExpenseDate.invalid">
                      <small class="errorMsg" *ngIf="validateExpenseDate.errors.required">Please select the date</small>
                    </small> 
                </div> 
                <!--Expense Send and Cancel Buttons -->
                <div class="row">
                  <div class="col-sm-6"></div> 
                  <div class="col-sm-6">
                    <div class="row">
                      <div class="col-sm-6">
                        <button type="button" class="btn save-btn" style="width: 100%;" (click)="sendExpense(desc2, expense, expenseDate, expenseUser); staticModal2.hide(); expenseForm.reset()" 
                        [disabled]="expenseForm.invalid">Save</button>
                      </div>
                      <div class="col-sm-6">
                        <button type="button" class="btn cancel-btn" style="width: 100%;"  (click)="staticModal2.hide()">Cancel</button>
                      </div>
                    </div>          
                  </div>
                </div>              
              </form> 
            </div>
          </div>
        </div>
      </div>
      <trackertable></trackertable>
  </div>
</div>