<body>
  <div class="container">
    <main>
      <div class="row">
        <div class="col-sm-12 col-md-4 mt-4">
          <img src="..\assets\images\1.jfif" style="width: 100%; border-radius: 50%;">
          <div id="quote">
            <h6>Beware of little expenses.</h6> 
            <h6>A small leak will sink a grate ship</h6>
          </div>
        </div>
        <div class="col-sm-12 col-md-8">
          <div class="myStyle">
            <addincome></addincome>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>
