<main><!--Main starts-->
  <div class="row"><!--row starts-->
    <div class="col-sm-12"><!--row ends-->
      <!-- <button class="btn btn-primary" (click)="sendSelectedValues()">Send Values</button><br/><br/> -->

      <!--Months filter start here...-->
      <h5>Month</h5>
      <ng-container *ngIf="selectedAllMonths"><!--To select all months-->
        <small (click)="selectAllMonths()">Select All</small>
      </ng-container><!--To deselect all months-->
      <ng-container *ngIf="deselectedAllMonths">
        <small (click)="deselecteAllMonths()">Clear All</small>
      </ng-container>
      <!--Months list-->
      <div *ngFor="let month of months">
        <ng-container *ngIf="month.shown">
          <input type="checkbox" [(ngModel)]="month.checked" #myMonth (change)="getMonth(myMonth);" [value]="month.name"> 
          <span> {{month.name}}</span>
        </ng-container>
      </div>
      <ng-container *ngIf="displayedAllMonths"><!--To display all months-->
        <small (click)="showMoreMonths()">Show More</small>
      </ng-container>
      <ng-container *ngIf="hiddenFewMonths"> <!--To show only 3 months-->
        <small (click)="showLessMonths()">Show Less</small>
      </ng-container>
      <!--Months filter ends here...-->

      <!--Users filter start here...-->
      <h5>User</h5>
      <ng-container *ngIf="selectedAllUsers"><!--To select all users-->
        <small (click)="selectAllUSers()">Select All</small>
      </ng-container><!--To deselect all users-->
      <ng-container *ngIf="deselectedAllUsers">
        <small (click)="deselecteAllUsers()">Clear All</small>
      </ng-container>
      <div *ngFor="let user of users">
        <ng-container *ngIf="user.shown">
          <input type="checkbox" [(ngModel)]="user.checked" #myUser (change)="getUser(myUser)" [value]="user.name">
          <span> {{user.name}}</span>
        </ng-container>
      </div>
      <ng-container *ngIf="displayedAllUsers"><!--To display all users-->
        <small (click)="showMoreUsers()">Show More</small>
      </ng-container>
      <ng-container *ngIf="hiddenFewUsers"> <!--To show only 3 users-->
        <small (click)="showLessUsers()">Show Less</small>
      </ng-container>
      <!--Users filter ends here...-->
      
      <!--Type filter start here...-->
      <h5>Type</h5>
      <ng-container *ngIf="selectedAllTypes"><!--To select all users-->
        <small (click)="selectAllTypes()">Select All</small>
      </ng-container><!--To deselect all users-->
      <ng-container *ngIf="deselectedAllTypes">
        <small (click)="deselecteAllTypess()">Clear All</small>
      </ng-container>
      <div *ngFor="let type of types">
        <input type="checkbox" [(ngModel)]="type.checked" #myType (change)="getType(myType)" [value]="type.name">
        <span> {{type.name}}</span>
      </div>
      <!--Type filter ends here...--> 
    </div><!--col div-->
  </div><!--row div-->
</main><!--main ends-->