main{
    color: #fff;
}
h5{
    border-bottom: solid 1px #14ffec;
    margin: 8px 0;
    padding-bottom: 5px;
}
small{
    cursor: pointer;
    transition: ease 0.5s;
}
small:hover{
    color: #14ffec;
}
span{
    font-size: 14px;
}
::ng-deep body .ui-chkbox .ui-chkbox-box{
    border: none;
    border-radius: 0;
    width: 14px;
    height: 14px;
}
::ng-deep body .ui-chkbox .ui-chkbox-box .ui-chkbox-icon{
    font-size: 14px;
}
::ng-deep body .ui-chkbox .ui-chkbox-box.ui-state-active{
 
    outline: none;
    border: none;
}