<main>
  <div class="row">
    <div class="col-sm-12">
      <h5>Month</h5>
      <p-checkbox name="Month"></p-checkbox> <span>January</span><br/>
      <p-checkbox name="Month"></p-checkbox> <span>February</span><br/>
      <p-checkbox name="Month"></p-checkbox> <span>March</span><br/>
      <p-checkbox name="Month"></p-checkbox> <span>April</span><br/>
      <p-checkbox name="Month"></p-checkbox> <span>May</span><br/>
      <p-checkbox name="Month"></p-checkbox> <span>June</span><br/>
      <p-checkbox name="Month"></p-checkbox> <span>July</span><br/>
      <p-checkbox name="Month"></p-checkbox> <span>August</span><br/>
      <p-checkbox name="Month"></p-checkbox> <span>September</span><br/>
      <p-checkbox name="Month"></p-checkbox> <span>October</span><br/>
      <p-checkbox name="Month"></p-checkbox> <span>November</span><br/>
      <p-checkbox name="Month"></p-checkbox> <span>December</span><br/>
      <h5>User</h5>
      <p-checkbox name="User"></p-checkbox> <span>Ahemmed</span><br/>
      <p-checkbox name="User"></p-checkbox> <span>Dileep</span><br/>
      <p-checkbox name="User"></p-checkbox> <span>Malathi</span><br/>
      <p-checkbox name="User"></p-checkbox> <span>Suman</span>
      <h5>Type</h5>
      <p-checkbox name="User"></p-checkbox> <span>Income</span><br/>
      <p-checkbox name="User"></p-checkbox> <span>Expense</span>
    </div>
  </div>
</main>