@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');

body{    
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     background-image: url('src\assets\images\dark-money.jpg'); 
    position: relative; */
    background: #323232;
    font-family: 'Roboto', sans-serif;
}
    
.errorMsg{
    color: red;
    font-size: 14px;
}